.header {
    position: fixed;
    width: 100%;
    background-color: blue
  }

  .title {
   font-size: 100%;
   color: white;
   text-align: center;
  }

  body {
    background-color: lightcyan
  }

  .footer {
    position: absolute;
    width: 100%;
    background-color: blue
}

.footer_name {
    font-size: 100%;
    color: white;
    text-align: center;
   }